@import url(reset.css);

.header {
	width: 1440px;
	height: 200px;
	background-color: #000080;
}

.headerContainer {
	width: 470px;
	height: 200px;
	color: white;
	font-family: Helvetica;
	font-size: 40px;
	line-height: 57px;
	display: flex;
	align-items: center;
	padding-left: 5%;
}

.imageContainer {
	width: 1440px;
	height: 1080px;
	background-image: url(../img/img.jpeg);
	background-position: cover;
}

.menu {
	width: 1440px;
	height: 100px;
	font-family: Helvetica;
	font-size: 25px;
	background-color: #000080;

}

a {
	color: white;
}


.textContainer {
	width: 1200px;
	height: 800px;
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	padding: 5% 5%;
}

.footer {
	width: 1440px;
	height: 200px;
	background-color: #000080;

}

.footerContainer {
	width: 1200px;
	height: 0px;
	padding: 5% 5%;
}